@import "css-var";

body, div, ul, h1, h2, h3, p {
  margin: 0px;
  padding: 0px;
}
body{
  background: #f2f2f2;
}

/*CSS 实现类似原生效果的 1px 边框*/
.border-1px {
  position: relative;
}
.border-1px:after {
  position: absolute;
  content: '';
  top: -50%;
  bottom: -50%;
  left: -50%;
  right: -50%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border-top: 1px solid $borderColor;
}

/*去除ios、android中可点击元素的高亮颜色*/
a,button,input{
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}

/*将默认的‘x'隐藏掉*/
input[type="search"]::-webkit-search-cancel-button{
  display: none;
}

/*去除ios下椭圆边框、阴影样式*/
input[type="search"],input[type=submit],input[type=button],textarea{
  -webkit-appearance:none;
}

/** 去除disabled后浏览器默认的黄色背景 */
input:disabled{
  background-color: transparent;
}

/*去除ios、android中可点击元素的高亮颜色*/
a,button,input{
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}

/*去除默认的下划线样式*/
a{
  text-decoration: none;
  color: inherit;
}

