$arrowColor: #666666;
$bgColor: #ebebeb;
$btnBgColor: #ff6600;
$hoverColor: #ff6600;
$textColor: #333333; /*文字的主颜色, 正文，标题，姓名*/
$labelBgColor: #e5e5e5; /*灰色标签的背景颜色*/
$labelColor: #6c6c6c; /*灰色标签，灰色框内上的字*/
$otherColor: #999999; /*日期，分类，查看更多，返回最上图标，非激活图标上的字，小字*/
$listNameColor: #666666; /*专家名字（其他列表）*/
$borderColor: #e5e5e5; /*分界线、边缘阴影线，*/
$color6: #666666;
$color8: #888888;
